In [1]:
import numpy as np
import pandas as pd
import os
np.random.seed(1)

In [2]:
base_dir = "/home/qiaohe/hand_pose"
csv_file = os.path.join(base_dir, 'hand_labels.csv')
split_ratio = 0.8

In [3]:
labels = pd.read_csv(csv_file)

In [4]:
labels.head()

       filename  width  height class  xmin  ymin  xmax  ymax
0  006_1025.jpg    101     107  hand   939   505  1040   612
1  006_1025.jpg    122      86  hand  1009   781  1131   867
2  004_1175.jpg    103     131  hand   813   388   916   519
3  002_1025.jpg    112     135  hand   883   800   995   935
4  002_1025.jpg    102     111  hand  1058   482  1160   593

In [5]:
len(labels)

5038

In [6]:
grouped = labels.groupby('filename')

In [7]:
grouped.apply(lambda x: len(x)).value_counts()

2    1882
1    1274
dtype: int64

### split each file into a group in a list

In [8]:
gb = labels.groupby('filename')

In [9]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [12]:
length = len(grouped_list)

In [13]:
train_index = np.random.choice(length, size=int(length*split_ratio), replace=False)
test_index = np.setdiff1d(list(range(length)), train_index)

In [14]:
len(train_index), len(test_index)

(2524, 632)

In [15]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [16]:
len(train), len(test)

(4012, 1026)

In [72]:
train.to_csv(os.path.join(base_dir, 'train_labels.csv'), index=None)
test.to_csv(os.path.join(base_dir, 'test_labels.csv'), index=None)